# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
.vscode/
.idea/

# csv/png files
data/sb2_example_rv_curve.png
data/sb2_forward_model_results.csv
data/sb2_cleaned.csv